body {
  color: #fff;
  background: #000 url("./images/stars_sky_night_113553_300x168.jpg");
  background-repeat: repeat;
  background-position: top;
  text-align: center;
}

form input {
  width: 500px;
  background: #d3d3d3;
  border: 0px;
}

.searchResult {
  width: 500px;
  background: #d3d3d3;
  margin: 0 auto;
}

.searchResult:hover {
  background: dark grey;
}
